################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/employeee/WebApplication2/bin/Debug/net8.0
/employeee/WebApplication2/obj
/Contact/WebApplication2/bin/Debug/net8.0
/Contact/WebApplication2/obj
